<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="TargetApplicationsConfiguration" type="SchedulersGuards.TargetApplicationsConfiguration,SchedulersGuards"/>
	</configSections>
	<appSettings>		
		<add key="Edge.Core.Scheduling.Scheduler.Percentile" value="80"/>
		<add key="Edge.Core.Scheduling.Scheduler.NeededScheduleTimeLine" value="02:00:00"/>
		<add key="Edge.Core.Scheduling.Scheduler.IntervalBetweenNewSchedule" value="00:00:10"/>
		<add key="Edge.Core.Scheduling.Scheduler.FindServicesToRunInterval" value="00:00:15"/>
		<add key="Edge.Core.Scheduling.Scheduler.DeleteEndedServiceInterval" value="23:59:00"/>
		<add key="Edge.Processes.SchedulingHost.ISchedulingCommunication" value="net.pipe://localhost/"/>
		<add key="Edge.Core.Scheduling.Scheduler.MaxExecutionTimeProduct" value="2.1"/>
		<add key="Edge.Core.Scheduling.Scheduler.MaxExecutionTimeParentService" value="20"/>
		<add key="Edge.Core.Scheduling.Scheduler.MaxExecutionTimeChildService" value="4"/>
	</appSettings>
	<connectionStrings>		
		<add name="Edge.Core.Scheduling.Scheduler.OLTP" connectionString="Data Source=alonya-pc;;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>

	<system.serviceModel>
		<services>
			
			<service name="Edge.Processes.SchedulingHost.Listener" behaviorConfiguration="behavior">
				<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSeperia"/>				
			</service>
			<service name="Edge.Processes.SchedulingHost.SchedulingCommunication" >
				<endpoint  name="Edge.Processes.SchedulingHost.SchedulingCommunication"  binding="netNamedPipeBinding" bindingConfiguration="SchedulerHostConfig" contract="Edge.Processes.SchedulingHost.SchedulingCommunication"  address="net.pipe://localhost/"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/Scheduler"/>
					</baseAddresses> 
				</host>
			</service>

		</services>

		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSeperia"/>
			<endpoint address="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Reporting/ReportingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportingService" contract="AdCenter.Reporting.IReportingService" name="AdCenter.Reporting.IReportingService"/>
		</client>
		<behaviors>
			<serviceBehaviors>
				<behavior name="behavior">
					<serviceMetadata httpGetEnabled="false"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
			</wsHttpBinding>
			<netTcpBinding>
				<binding name="Edge.Core.Services.Service.InstanceToEngineBinding" portSharingEnabled="true" receiveTimeout="1:0:0"/>
			</netTcpBinding>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IReportingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
			<netNamedPipeBinding>
				<binding name="SchedulerHostConfig"  maxBufferPoolSize="20000000" maxConnections="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" closeTimeout="00:03:00" openTimeout="00:03:00" />
			</netNamedPipeBinding>
		</bindings>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
