<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="edge.services" type="Edge.Core.Services.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>
	<appSettings>
		<add key="Edge.Core.Services.Service.BaseListeningUrl" value="net.tcp://localhost:3536/{0}"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\Edge\SeperiaDeliveryFiles"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryGet" value="Delivery_Get(@deliveryID:Char, @deep:bit)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryDelete" value="Delivery_Delete(@deliveryID:Char)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.OutputDelete" value="Output_Delete(outputID:Char)"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@measureID:Int,,@includeBase:Int@flags:Int,@operator:Int)"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Core.Scheduling.Scheduler.Percentile" value="80" />
		<add key="Edge.Core.Scheduling.Scheduler.NeededScheduleTimeLine" value="02:00:00" />
		<add key="Edge.Core.Scheduling.Scheduler.IntervalBetweenNewSchedule" value="00:10:00" />
		<add key="Edge.Core.Scheduling.Scheduler.FindServicesToRunInterval" value="00:01" />
		<add key="Edge.Core.Scheduling.Scheduler.DeleteEndedServiceInterval" value="23:59:00" />
		<add key="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
	</appSettings>
	<connectionStrings>
		<add name ="Edge.Processes.SchedulingHost.SchedulingHost.System" connectionString="Data Source=alonya-pc;Initial Catalog=edge_system291;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=alonya-pc;Initial Catalog=edge_system291;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=alonya-pc; Database=edge_system291;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc;Initial Catalog=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Core.Scheduling.Scheduler.OLTP" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd" />
		<add name="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.StagingDatabase" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd" />


	</connectionStrings>

	<!-- ======================================================== -->
	<!--						Services						  -->
	<!-- ======================================================== -->

	<edge.services>
		<Services>
			<Service Name="TestService" IsPublic="true" Class="Edge.Processes.SchedulingHost.TestService,Edge.Processes.SchedulingHost"  MaxInstances="5"	MaxInstancesPerAccount="1"/>
		</Services>		
		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>
					<Service Name="TestService-1" Uses="TestService" ></Service>
				</Services>
			</Account>
			<!-- ======== Easy Forex ======== -->
			<Account ID="7" Name="EasyForex" >
				<Services>
					<Service Name="TestService-7" Uses="TestService" ></Service>
				</Services>
			</Account>


			<!-- ======== Proportzia ======== -->
			<Account ID="42" Name="Proportzia" >
				<Services>
					<Service Name="TestService-42" Uses="TestService" ></Service>
				</Services>
			</Account>
		</Accounts>
	</edge.services>
	<system.web>
		<webServices>
			<soapExtensionTypes>
				<add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, AdWords" priority="1" group="0"/>
			</soapExtensionTypes>
		</webServices>
	</system.web>

	<system.serviceModel>
		<!--<services>
			<service
		</services>-->
		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.9/seperia/deploy"/>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
			</wsHttpBinding>
			<netTcpBinding>
				<binding name="Edge.Core.Services.Service.InstanceToEngineBinding" portSharingEnabled="true" receiveTimeout="3:0:0" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" />
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
                    switchValue="All"
                    propagateActivity="true">
				<listeners>
					<add name="traceListener"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "d:\log\Traces.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>

