<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="edge.services" type="Edge.Core.Services.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>
	<appSettings>
		<add key="Edge.Core.Services.Service.BaseListeningUrl" value="net.tcp://localhost:3536/{0}"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\Edge\SeperiaDeliveryFiles"/>
       <add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryGet" value="Delivery_Get(@deliveryID:Char, @deep:bit)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryDelete" value="Delivery_Delete(@deliveryID:Char)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.OutputDelete" value="Output_Delete(outputID:Char)"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@measureID:Int,,@includeBase:Int@flags:Int,@operator:Int)"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Core.Scheduling.Scheduler.Percentile" value="80" />
		<add key="Edge.Core.Scheduling.Scheduler.NeededScheduleTimeLine" value="02:00:00" />
		<add key="Edge.Core.Scheduling.Scheduler.IntervalBetweenNewSchedule" value="00:10:00" />
		<add key="Edge.Core.Scheduling.Scheduler.FindServicesToRunInterval" value="00:01" />
		<add key="Edge.Core.Scheduling.Scheduler.DeleteEndedServiceInterval" value="23:59:00" />
		<add key="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
	</appSettings>
	<connectionStrings>
		<add name ="Edge.Processes.SchedulingHost.SchedulingHost.System" connectionString="Data Source=alonya-pc;Initial Catalog=edge_system291;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=alonya-pc;Initial Catalog=edge_system291;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=alonya-pc; Database=edge_system291;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc;Initial Catalog=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Core.Scheduling.Scheduler.OLTP" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd" />
		<add name="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.StagingDatabase" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd" />
		

	</connectionStrings>

	<!-- ======================================================== -->
	<!--						Services						  -->
	<!-- ======================================================== -->

	<edge.services>
		<Extensions>

			<add key="Mappings" value="Edge.Data.Pipeline.Mapping.MappingConfigurationElement, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>

			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline" />
			<Service Name="AdMetricsStaging" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsStagingService,Edge.Data.Pipeline.Metrics" MaxInstances="1"	MaxInstancesPerAccount="1"/>

			<!--ValidationServices-->
			<Service Name="OltpDeliveryValidation"
               Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline" CheckTypes="DeliveryOltpValidation,DwhOltpValidation">
				<Workflow>
					<Step Base="DataChecks.OltpDelivery"  IsEnabled="true"/>
					<Step Base="DataChecks.ResultsHandler"  IsEnabled="true" AlertFrom="edgeapp@edge.bi" AlertTo="edge.alerts@seperia.com"
						  CC="sms-0522321243@outlook.wms.telemessage.com,sms-0544922188@outlook.wms.telemessage.com,shmely@gmail.com,sms-0542444443@outlook.wms.telemessage.com,sms-0522499272@outlook.wms.telemessage.com" />
				</Workflow>

			</Service>

			<Service Name="MdxOltpValidation"
					 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline" CheckTypes="MdxOltpValidation">
				<Workflow>
					<Step Base="DataChecks.MdxOltp"    IsEnabled="true"/>
					<Step Base="DataChecks.ResultsHandler"  IsEnabled="true" AlertFrom="edgeapp@edge.bi" AlertTo="edge.alerts@seperia.com"
						  CC="sms-0504242012@outlook.wms.telemessage.com,sms-0522321243@outlook.wms.telemessage.com,sms-0544922188@outlook.wms.telemessage.com,shmely@gmail.com,sms-0542444443@outlook.wms.telemessage.com,sms-0522499272@outlook.wms.telemessage.com"
						 />
				</Workflow>

			</Service>

			<Service Name="Segments.DeliveryOltpValidation"
				 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline" CheckTypes="Segments.DeliveryOltpValidation">
				<Workflow>
					<Step Base="DataChecks.Segments.OltpDelivery"    IsEnabled="true"/>
					<Step Base="DataChecks.ResultsHandler"  IsEnabled="true" AlertFrom="edgeapp@edge.bi" AlertTo="edge.alerts@seperia.com"
						  CC="sms-0504242012@outlook.wms.telemessage.com,sms-0522321243@outlook.wms.telemessage.com,sms-0544922188@outlook.wms.telemessage.com,shmely@gmail.com,sms-0542444443@outlook.wms.telemessage.com,sms-0522499272@outlook.wms.telemessage.com"
						 />
				</Workflow>
			</Service>
			<Service Name="Segments.MdxOltpValidation"
				 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline" CheckTypes="Segments.MdxOltpValidation">
				<Workflow>
					<Step Base="DataChecks.Segments.MdxOltp"    IsEnabled="true"/>
					<Step Base="DataChecks.ResultsHandler"  IsEnabled="true" AlertFrom="edgeapp@edge.bi" AlertTo="edge.alerts@seperia.com"
						  CC="sms-0504242012@outlook.wms.telemessage.com,sms-0522321243@outlook.wms.telemessage.com,sms-0544922188@outlook.wms.telemessage.com,shmely@gmail.com,sms-0542444443@outlook.wms.telemessage.com,sms-0522499272@outlook.wms.telemessage.com"
						 />
				</Workflow>
			</Service>
			<!-- ########## Do Not change the following Services names (due to Production manamgemt tool requierments) #############################################################-->
			<Service Name="DataChecks.OltpDelivery"		IsPublic="false"	Class="Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService, Edge.Services.AdMetrics.Validations"/>
			<Service Name="DataChecks.DwhOltp"				IsPublic="false"	Class = "Edge.Services.AdMetrics.Validations.DwhOltpChecksumService,Edge.Services.AdMetrics.Validations" />
			<Service Name="DataChecks.MdxOltp"        AdmobConnection="Data Source=localhost;Catalog=Seperia_UDM" IsPublic="false"	Class = "Edge.Services.AdMetrics.Validations.MdxOltpChecksumService,Edge.Services.AdMetrics.Validations" />
			<Service Name="DataChecks.MdxDwh"					AdmobConnection="Data Source=localhost;Catalog=Seperia_UDM" IsPublic="false"	Class = "Edge.Services.AdMetrics.Validations.MdxDwhChecksumService,Edge.Services.AdMetrics.Validations" />
			<Service Name="DataChecks.ResultsHandler" IsPublic="false"	Class="Edge.Services.AdMetrics.Validations.ValidationResultsHandler, Edge.Services.AdMetrics.Validations" />

			<Service Name="DataChecks.Segments.OltpDelivery"		IsPublic="false" Class="Edge.Services.SegmentMetrics.Validations.SegmentDeliveryOltpChecksumService, Edge.Services.SegmentMetrics.Validations" AutoAdGroupSegment="true"/>
			<Service Name="DataChecks.Segments.DeliveryDwh"		IsPublic="false" Class="Edge.Services.SegmentMetrics.Validations.DeliveryDwhCheckSumService, Edge.Services.SegmentMetrics.Validations" AutoAdGroupSegment="true"/>
			<Service Name="DataChecks.Segments.MdxOltp"		IsPublic="false" Class="Edge.Services.SegmentMetrics.Validations.MdxOltpChecksumService, Edge.Services.SegmentMetrics.Validations" AutoAdGroupSegment="true"/>
			<Service Name="ImporterTester" Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline">
				<Workflow>
					<Step Base="Edge.Processes.SchedulingHost.ImporterServiceTester" />
					
				</Workflow>
			</Service>
			<Service Name="Edge.Processes.SchedulingHost.ImporterServiceTester" IsPublic="false" Class="Edge.Processes.SchedulingHost.ImporterServiceTester, Edge.Processes.SchedulingHost" AutoAdGroupSegment="true"/>
			<!-- ###################################################################################################################################################################-->

			<!-- ======== Bing ======== -->
			<Service Name="Microsoft.AdCenter"
              
					Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					AdCenter.Username="seperia_invoice"
					AdCenter.Password="jt75f3qz"
					DeliveryFilesDir="Microsoft-AdCenter"
					AdCenter.AppToken="7G703IQ03"
					AdCenter.DevToken="7G703IQ03"
               
          SQL.PrepareCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
					SQL.CommitCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
			>
				<Workflow>
					<Step Name="Initializer" Base="Microsoft.AdCenter.Initializer" IsEnabled="true"/>
					<Step Name="Retriever" Base="Microsoft.AdCenter.Retriever" IsEnabled="true"/>
					<Step Name="Processor" Base="Microsoft.AdCenter.Processor" IsEnabled="true"/>
					<Step Base="AdMetricsStaging" IsEnabled="true"/>
				</Workflow>
				<SchedulingRules>
				<Rule ExactTimes="13:00" CalendarUnit="Day" MaxDeviation="00:25"  />
				</SchedulingRules>
			</Service>
			<Service Name="Microsoft.AdCenter.Initializer" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.InitializerService, Edge.Services.Microsoft.AdCenter"  />
			<Service Name="Microsoft.AdCenter.Retriever" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.RetrieverService, Edge.Services.Microsoft.AdCenter"/>
			<Service Name="Microsoft.AdCenter.Processor" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.ProcessorService, Edge.Services.Microsoft.AdCenter" AutoAdGroupSegment="true" />

			<!-- ======== Facebook Graph API ======== -->
			<Service Name="Facebook.GraphApi"
						IsEnabled="true"
						FileDirectory="Facebook"
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
						Facebook.BaseServiceAdress="https://graph.facebook.com"
					    Facebook.AuthenticationUrl="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"
						Facebook.Auth.ApiKey="168436873232861"
						Facebook.Auth.AppSecret="dada52b15e6d57e30f089a8ea94cf970"
						Facebook.Auth.RedirectUri="http://www.seperia.com/"
						SQL.TransformCommand="SP_Delivery_Transform_Facebook_Generic(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@CommitTableName:NvarChar)"
						SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryOutputID_v291(@DeliveryOutputID:NvarChar,@TableName:NvarChar)"
						SQL.StageCommand="SP_Delivery_Stage_Facebook(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@OutputIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					    MaxExecutionTime="00:40:00"
					     MaxInstances="1000"
				         MaxInstancesPerAccount="1000"
				        ConflictBehavior="Ignore">
				<Workflow>
					<Step Base="FacebookGraphApiInitializerService" />
					<Step Base="FacebookGraphApiRetrieverService"  />
					<Step Base="FacebookGraphApiProcessorService"  />
					<Step Base="AdMetricsStaging" ImportManagerType="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager,Edge.Data.Pipeline.Metrics"/>
					<Step Base="DataChecks.OltpDelivery"  IsEnabled="false" SourceTable="dbo.Paid_API_AllColumns_v29" ChannelList="1"/>
					<Step Base="DataChecks.ResultsHandler"  IsEnabled="false" AlertFrom="edgeapp@edge.bi" AlertTo="edge.alerts@seperia.com"
						  CC="sms-0522321243@outlook.wms.telemessage.com,sms-0542444443@outlook.wms.telemessage.com,sms-0544922188@outlook.wms.telemessage.com,shmely@gmail.com,sms-0522499272@outlook.wms.telemessage.com" />
				</Workflow>
				<SchedulingRules Overrides="true">
					<Rule ExactTimes="09:50" CalendarUnit="Day" MaxDeviation="01:00" />
				</SchedulingRules>
			</Service>

			<Service Name="FacebookGraphApiInitializerService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.InitializerService,Edge.Services.Facebook.GraphApi" MaxInstances="100"	MaxInstancesPerAccount="100"/>
			<Service Name="FacebookGraphApiRetrieverService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.RetrieverService,Edge.Services.Facebook.GraphApi" MaxInstances="2" 	MaxInstancesPerAccount="2"/>
			<Service Name="FacebookGraphApiProcessorService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.ProcessorService,Edge.Services.Facebook.GraphApi" AutoAdGroupSegment="true"  AdGroupDelimiter="@" MaxInstances="5"	MaxInstancesPerAccount="5"/>

		
			<Service Name="ImportDeliveryData" Class="Edge.Applications.ImportDataFromDB4oUtill.ImportDeliveryDataService,Edge.Applications.ImportDataFromDB4oUtill"/>
			<Service Name="RoleBackByDeliveries" SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)" Class="Edge.Services.AdMetrics.RollbackService,Edge.Services.AdMetrics"/>

			<!-- ======== FTP ======== -->
			<Service Name="FTP.Initializer" IsPublic="false" Class="Edge.Services.FTP.InitializerService, Edge.Services.FTP"/>
			<Service Name="FTP.Retriver" IsPublic="false" Class="Edge.Services.FTP.RetrieverService, Edge.Services.FTP"/>
			<Service Name="FTP.LocalFileHandller" IsPublic="false" Class="Edge.Services.FTP.LocalFileHandllerService, Edge.Services.FTP"/>
			<Service Name="FTP.FtpFileHandllerService" IsPublic="false" Class="Edge.Services.FTP.FtpFileHandllerService, Edge.Services.FTP"/>

			<Service Name="SeperiaFtpRetriever"
					 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					 DeliveryFilesDir="FTP/Import"
					 AllowedExtensions ="txt"
					 UserID="edgedev"
					 UsePassive="true"
					 UseBinary="false"
					 Password="6719AEDC8CD5CC31B9931A7B0CEE1FF7">
				<Workflow>
					<Step Base="FTP.Initializer"  IsEnabled="true"/>
					<Step Base="FTP.Retriver"  IsEnabled="true"/>
					<Step Base="FTP.LocalFileHandller"  IsEnabled="true"/>
					<Step Base="FTP.FtpFileHandllerService"  IsEnabled="true"/>
				</Workflow>
				
			</Service>

			<Service Name="FtpAdvertisingChannelRetriever"
					 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					 DeliveryFilesDir="FTP/Import"
					 AllowedExtensions ="txt"
					 UserID="edgedev"
					 UsePassive="true"
					 UseBinary="false"
					 Password="6719AEDC8CD5CC31B9931A7B0CEE1FF7">
				<Workflow>
					<Step Base="FTP.Initializer"  IsEnabled="true"/>
					<Step Base="FTP.Retriver"  IsEnabled="true"/>
					<Step Base="FTP.LocalFileHandller"  IsEnabled="true"/>
					<Step Base="FTP.FtpFileHandllerService"  IsEnabled="true"/>
				</Workflow>
				
			</Service>
			<Service Name="RunStoredProcedure" IsPublic="false" Class="Edge.Services.SqlServer.RunStoredProcedure,Edge.Services.SqlServer"/>

			<!-- ======== Back office ======== -->
			<Service Name="Backoffice"
					  Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					  DeliveryFilesDir="BackOffice"
					  SQL.PrepareCommand="SP_Delivery_Commit_BO(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					  SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
					  SQL.CommitCommand="SP_Delivery_Insert_BO(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)">
				<Workflow>
					<Step Base="BOInitializerService"  IsEnabled="true"/>
					<Step Base="BOGenericRetrieverService"  IsEnabled="true"/>
					<Step Base="BOProcessorService"  IsEnabled="true"/>
					<Step Base="BOCommitService" IsEnabled="true"/>
				</Workflow>
				<SchedulingRules Overrides="true">
					<Rule ExactTimes="04:40" CalendarUnit="Day" MaxDeviation="01:00" />
				</SchedulingRules>
			</Service>
			<Service Name="BOInitializerService" IsPublic="false" Class="Edge.Services.BackOffice.Generic.InitializerService,Edge.Services.BackOffice.Generic"/>
			<Service Name="BOGenericRetrieverService" IsPublic="false" Class="Edge.Data.Pipeline.Services.GenericRetrieverService,Edge.Data.Pipeline"/>
			<Service Name="BOProcessorService" IsPublic="false" Class="Edge.Services.SegmentMetrics.Services.ProcessorService,Edge.Services.SegmentMetrics"/>
			<Service Name="BOCommitService" IsPublic="false" Class="Edge.Services.SegmentMetrics.Services.CommitService,Edge.Services.SegmentMetrics"/>

			<!-- ======== Back office Easy Forex ======== -->
			<Service Name="BoPro" Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
						SourceUrl="https://classic.easy-forex.com/BackOffice/API/Marketing.asmx"
						SOAPAction="http://www.easy-forex.com/GetGatewayStatistics"
						SoapMethod="GetGatewayStatistics"
						StartGid="1"
						EndGid="1000000"
						User="Seperia"
						Pass="B0D003A2CB1865E33AFD79CFD8761BA8"
						DeliveryFilesDir="EasyForexBackoffice"
						Bo.Xpath="Envelope/Body/GetGatewayStatisticsResponse/GetGatewayStatisticsResult/diffgram/DSMarketing/CampaignStatisticsForEasyNet"
						Bo.IsAttribute ="false"
						Bo.TrackerIDField="GID"
					 	SQL.PrepareCommand="SP_Delivery_Commit_BO(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						SQL.CommitCommand="SP_Delivery_Insert_BO(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)">
				<Workflow>
					<Step Base="BackOfficeInitializer.EasyForex"/>
					<Step Base="BackOfficeRetriever.EasyForex"/>
					<Step Base="BOProcessorService"/>
					<Step Base="BOCommitService"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="04:50" CalendarUnit="Day" MaxDeviation="0:30" />
				</SchedulingRules>
			</Service>
			<Service Name="BackOfficeRetriever.EasyForex" IsPublic="false" Class="Edge.Services.BackOffice.EasyForex.RetrieverService, Edge.Services.BackOffice.EasyForex"/>
			<Service Name="BackOfficeInitializer.EasyForex" IsPublic="false" Class="Edge.Services.BackOffice.EasyForex.InitializerService, Edge.Services.BackOffice.EasyForex"/>

			<!-- ======== Google Analytics ======== -->
			<Service Name="Google.Analytics"
						DeliveryFilesDir="Google.Analytics"
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					    AuthenticationUrl="https://accounts.google.com/o/oauth2/token"
					    ConsentCode="4/opRZKDRWioO6wYUw5cAd2r5KSm-m"
					    ClientID="605921647991-8946ad39s0gbu189totf3al4bjspgsbf.apps.googleusercontent.com"
				        ClientSecret="CwK1-6tXOHuX8Eh9CJ5MfeKC"
				        Redirect_URI="http://www.edge.bi/oauth2callback"
					    SQL.PrepareCommand="SP_Delivery_Commit_BO(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					    SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
					    SQL.CommitCommand="SP_Delivery_Insert_BO(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					    MaxExecutionTime="00:40:00"
						MaxInstances="2"
						MaxInstancesPerAccount="2">
				<Workflow>
					<Step Base="GoogleAnalyticsInitializerService" />
					<Step Base="GoogleAnalyticsRetriverService"  />
					<Step Base="GoogleAnalyticsProcessorService"  />
					<Step Base="BOCommitService" IsEnabled="true"/>
				</Workflow>
			</Service>
			<Service Name="GoogleAnalyticsInitializerService" IsPublic="false" Class="Edge.Services.Google.Analytics.InitializerService,Edge.Services.Google.Analytics"/>
			<Service Name="GoogleAnalyticsRetriverService" IsPublic="false" Class="Edge.Services.Google.Analytics.RetrieverService,Edge.Services.Google.Analytics"/>
			<Service Name="GoogleAnalyticsProcessorService" IsPublic="false" Class="Edge.Services.Google.Analytics.ProcessorService,Edge.Services.Google.Analytics"/>

			<Service Name="BOInitializerService" IsPublic="false" Class="Edge.Services.BackOffice.Generic.InitializerService,Edge.Services.BackOffice.Generic"/>
			<Service Name="BOGenericRetrieverService" IsPublic="false" Class="Edge.Data.Pipeline.Services.GenericRetrieverService,Edge.Data.Pipeline"/>
			<Service Name="BOProcessorService" IsPublic="false" Class="Edge.Services.SegmentMetrics.Services.ProcessorService,Edge.Services.SegmentMetrics"/>
			<Service Name="BOCommitService" IsPublic="false" Class="Edge.Services.SegmentMetrics.Services.CommitService,Edge.Services.SegmentMetrics"/>

		</Services>


		<!-- ======================================================== -->
		<!--						Accounts						  -->
		<!-- ======================================================== -->
		<!--<Accounts>
			<Account ID="1007" Name="PC Speed">
				
				
				<Services>
					<Service  Uses="ImporterTester"></Service>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.GraphApi"
							 Facebook.Account.Name="PC Speed"
							 Facebook.Account.ID="351560853"
							 Facebook.Auth.SessionSecret="AQB0cr7E4uKYJNbZv1sHxVyRYCae3r-Z0vlsIubqbJC58uelExBKWKO_0pqoo8ohK6yZhe-5haio6U2zUlsyXHLLz9JRYwRDoQA_nTydzqL2Q3tLCwLGc66Tze9lvBUKBUoTLTeBjNLBnSMBeD77U9vM0ilDD7xHmcT-oHs0S1FN5rzRkyykGNFUOvR9y19DJfc#_=_"
							 TimeZone="-8"
							 Offset="0"
							 >
						
					</Service>
					<Service Uses="SeperiaFtpRetriever" Name="FtpBoRetriever"
							 FtpServer="ftp://46.137.73.53/PcSpeed_ftp/Backoffice/"
							 DirectoryWatcherLocation="E:\Edge\Seperia\Files\Legacy\Upload\FTP\BackOffice\Direct"/>
					<Service Uses="FtpAdvertisingChannelRetriever" Name="FtpAdvertisingChannelRetriever"
							 FtpServer="ftp://46.137.73.53/PcSpeed_ftp/Other_Advertising_Channel/"
							 DirectoryWatcherLocation="E:\Edge\Seperia\Files\Legacy\Upload\FTP\Other_Advertising_Channel"/>
				</Services>
			</Account>
			<Account ID="61" Name="Seperia.com">
				<Services>
					<Service Uses="Facebook.GraphApi"
							Facebook.Account.Name="Seperia.com"
							Facebook.Account.ID="59684411"
							Facebook.Auth.SessionSecret="AQCS2hl57gcnkvnCIdYi6ymUjr8JApWJKLE_BKY57sSfzKRekcjvrZYvhoPeun_4Xp-aDg3k0VXfHNz3XCd97JpqVMLvwyHSlcZWyPaJ8ybPagVdspEKkuSvpG_tQnWHQKVY6fI_WSrWezV24zu9OTu9PIjMv6UNKtS1TwngNfkLa7xl5kDMUfOM2i1-JZysLmU#_=_"
							TimeZone="-8"
							Offset="0"
							 />
						
				</Services>
			</Account>
		</Accounts>-->
		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>
					<Service Name="RunSeperiaJob" Uses="RunStoredProcedure" ConnectionString="Data Source=localhost; Database=msdb;User ID=edge1;PWD=Blublu*2!" StoredProcedureName="sp_start_job" Paramjob_name="Seperia_Daily_Last_day"></Service>
					<Service Name="ADS_RoleBackByDeliveries" Uses="RoleBackByDeliveries"></Service>
					

					<!--Oltp Validation-->
					<Service Uses ="OltpDeliveryValidation" Name="AdwordsOltpDeliveryValidation" ProfileName="[Seperia][Google.Adwords][DeliveryOltp]"
					AccountsList="7,1240,1239,113,1011,42,61,1249,1240235,1240239,1240244,1240248,1240249"
					SourceTable="dbo.Paid_API_AllColumns_v29"
					ChannelList="1"	>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="05:30" CalendarUnit="Day" MaxDeviation="00:05" />
						</SchedulingRules>
					</Service>

					<Service Uses ="OltpDeliveryValidation" Name="FacebookOltpDeliveryValidation" ProfileName="[Seperia][Facebook][DeliveryOltp]"
					AccountsList="7,1240,42,61,1240235"
					SourceTable="dbo.Paid_API_AllColumns_v29"
					ChannelList="6"	>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="11:50" CalendarUnit="Day" MaxDeviation="00:15" />
						</SchedulingRules>
					</Service>

					<Service Uses ="OltpDeliveryValidation" Name="AdCenterOltpDeliveryValidation" ProfileName="[Seperia][AdCenter][DeliveryOltp]"
					AccountsList="1006,7,1249,1240,1240235,1240239,1240248"
					SourceTable="dbo.Paid_API_AllColumns_v29"
					ChannelList="14"	>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="05:30" CalendarUnit="Day" MaxDeviation="00:05" />
						</SchedulingRules>
					</Service>

					<Service Uses ="Segments.DeliveryOltpValidation" Name="BackOfficeOltpDeliveryValidation" ProfileName="[Seperia][BackOffice][DeliveryOltp]"
										AccountsList="1006,1249,1240,1240235,1240239,7,61"
										SourceTable="dbo.BackOffice_Client_Gateway_v29"
										ChannelList="-1">
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="05:30" CalendarUnit="Day" MaxDeviation="00:05" />
						</SchedulingRules>
					</Service>

				

					<!--Mdx -->

					<Service Uses ="MdxOltpValidation" Name="MdxOltpValidation" ProfileName="[Seperia][MDX]"
							  AccountsList="1006,7,1240,42,61,1249,1240244,1240248,1240249,113,1011,1240239,1240235"
							  SourceTable="dbo.Paid_API_AllColumns_v29"
							  ChannelList="1,6,14"	>
					</Service>

					<Service Uses ="Segments.MdxOltpValidation" Name="BackOffice.MdxOltpValidation" ProfileName="[Seperia][BackOffice][MDX]"
							  AccountsList="1006,95,1249,1240,1240235,1240239"
							  SourceTable="dbo.BackOffice_Client_Gateway_v29"
							  ChannelList="-1"	>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="08:00" CalendarUnit="Day" MaxDeviation="00:09" />
						</SchedulingRules>
					</Service>

					<!--########## Production Managment Tool Configuration #########-->
					<Service Uses="DataChecks.OltpDelivery" />
					<Service Uses="DataChecks.DwhOltp"/>
					<Service Uses="DataChecks.MdxDwh"/>
					<Service Uses="DataChecks.MdxOltp"/>
					<!--############################################################-->

				</Services>
			</Account>
			<!-- ======== Easy Forex ======== -->
			<Account ID="7" Name="EasyForex" >
				<Services>
					<Service Uses="Rerun" />
					
					

					<Service Uses="Facebook.GraphApi"
							Facebook.Account.Name="EasyForex"
							Facebook.Account.ID="52081533"
							Facebook.Auth.SessionSecret="AQC30JAPrSVgxivQwusb7JLdo0x_nEUZe4GI1f0xCcsFaypFwnJtTPKG-2pkmyF2WtYpqU_zghvK_HsS53piz3bcVuiDXHU_pXB9m3swePyldBPhve4um6A6-8k1b-yIFFDrBXsbSidUUzQYS_qi6WPDSV1mahiR-WmpIqfZ7aWIrYcgeYxD07QkR68NFtP0gHY#_=_"
							TimeZone="-8"
							Offset="-1">
						<Mappings Path ="Mappings\7\Facebook.xml"/>
					</Service>
					<Service Uses="Microsoft.AdCenter" AdCenter.CustomerID="350896"  AdCenter.CustomerAccountID="1363818">
						<Mappings Path ="Mappings\7\Bing.xml"/>
					</Service>

					
					
					




					<Service Uses="SeperiaFtpRetriever" Name="FtpBoRetriever" FtpServer="ftp://46.137.73.53/easyforex_ftp/Backoffice/" DirectoryWatcherLocation="E:\Edge\Seperia\Files\Legacy\Upload\FTP\BackOffice\Direct"/>
					<Service Uses="FtpAdvertisingChannelRetriever" Name="FtpAdvertisingChannelRetriever" FtpServer="ftp://46.137.73.53/easyforex_ftp/Other_Advertising_Channel/" DirectoryWatcherLocation="E:\Edge\Seperia\Files\Legacy\Upload\FTP\Other_Advertising_Channel"/>


					

				

				</Services>
			</Account>


			<!-- ======== Proportzia ======== -->
			<Account ID="42" Name="Proportzia" >
				<!--<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bref=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>-->
				<Services>
					<Service Uses="Rerun" />
					
					<Service Uses="Facebook.GraphApi"
						Facebook.Account.Name="Proportzia"
						Facebook.Account.ID="101082200000403"
						Facebook.Auth.SessionSecret="AQDJyEhHT8q592MyVoHa1RSyoFbsM71VjyCB7qRZTJyCeiTOm6D3N4rGKyw7U6vIlb6n8goQzB_FHp7SGnjmI3PvwAFF2PS9YaUouIPy-gvopyeSU5bc7Sw_pVCw5i9chsb80exxUunNuVIAbHyuGlbOpp2DU7vWTHeH1fAcgudpPeefP2HKM3V2ZXLFGN12dLI#_=_"
						TimeZone="2"
						Offset="-1">
						<Mappings Path ="Mappings\42\Facebook.xml"/>
					</Service>
					
				</Services>
			</Account>

			<!-- ======== Seperia.com ======== -->
			<Account ID="61" Name="Seperia.com">
				<!--<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\butm_content=(?{content}\w+)\b" Name="ga:adDestinationUrl" Value="{content}"/>
					</Segment>
				</AutoSegments>-->
				<Services>
					<Service Uses="Rerun" />
					
					
					<Service Uses="Facebook.GraphApi"
							Facebook.Account.Name="Seperia.com"
							Facebook.Account.ID="59684411"
							Facebook.Auth.SessionSecret="AQD2mOVklFBcJD6UESbEnyJPb1bnVzl9OYfUFOfAPb8w6RLKLeDr_x4hDtQRTif9gR2oJUS3gJbD7ObmRmVM4YpYNTpwAJ2fgFJpC5q6bQB02HKcGnrIEF9MWlFbnyH0PvCXIO4UCXrIChDOfRZKX10-a-Ga04H1pa2CI3xE-SZJ-yWAc2D5nKpOHXmcev0wolg#_=_"
							TimeZone="-8"
							Offset="-1">
						<Mappings Path ="Mappings\61\Facebook.xml"/>
					</Service>
					<Service Uses="Google.Analytics"
							 SegmentField1="ga:adDestinationUrl"
							 SegmentField2="ga:adContent"
							 ServiceAddress="https://www.googleapis.com/analytics/v3/data/ga?ids=ga:48345485&amp;start-date={0:yyyy-MM-dd}&amp;end-date={1:yyyy-MM-dd}&amp;dimensions=ga:source,ga:adContent,ga:adDestinationUrl&amp;metrics=ga:goal1Completions,ga:goal2Completions,ga:goal3Completions,ga:goal4Completions,ga:visitors,ga:newVisits,ga:visits&amp;filters=ga:source!%3D(not set);ga:adContent!%3D(not set)&amp;access_token={{0}}">
						<Mappings Path ="Mappings\61\Analytics.xml"/>
					</Service>
					<!--<AutoSegments>
							<Segment Name="Tracker" SegmentID="-977">
								<Pattern Regex="\butm_content=(?{content}\w+)\b" Name="ga:adDestinationUrl" Value="{content}"/>
								<Pattern Regex="(?{content}.*\w+)\b"  Name="ga:adContent" Value="{content}"/>
							</Segment>
						</AutoSegments>-->
					
				</Services>
			</Account>

			
			<Account ID="113" Name="Leascar">
				<Services>
					<Service Uses="Rerun" />
					
					
				</Services>
			</Account>


			<!-- ======== Bbinary ======== -->
			<Account ID="1006" Name="Bbinary" >
				<Services>
					<Service Uses="Rerun" />
					<!--====BackOffice service with QA URL in case of a problem with the regular URL====-->
					<Service Uses="Backoffice" ConflictBehavior ="Ignore"
							 Bo.ServiceAdress="http://www.qa.bbinary.com/Easynet?from={0:yyyy-MM-ddTHH:mmZ}&#38;to={1:yyyy-MM-ddTHH:mmZ}&#38;"
							 Bo.UTCOffest="0"
							 Bo.Xpath="EdgeBO/Tracker"
							 Bo.IsAttribute ="true"
							 Bo.TrackerIDField="ID">
						<Mappings Path ="Mappings\1006\Backoffice.xml"/>
					</Service>
					<!--<Service Uses="Backoffice"
							 Bo.ServiceAdress="http://www.bbinary.com/Easynet?from={0:yyyy-MM-ddTHH:mmZ}&#38;to={1:yyyy-MM-ddTHH:mmZ}&#38;"
							 Bo.UTCOffest="0"
							 Bo.Xpath="EdgeBO/Tracker"
							 Bo.IsAttribute ="true"
							 Bo.TrackerIDField="ID">
							 <Mappings Path ="Mappings\1006\Backoffice.xml"/>
					</Service>-->
					<Service Uses="Microsoft.AdCenter" AdCenter.CustomerID="350896"  AdCenter.CustomerAccountID="1505732">
						<Mappings Path ="Mappings\1006\Bing.xml"/>
					</Service>
					
					
					


					<Service Uses="FtpAdvertisingChannelRetriever" Name="FtpAdvertisingChannelRetriever"
							 FtpServer="ftp://46.137.73.53/Bbinary_ftp/Other_Advertising_Channel/"
							 DirectoryWatcherLocation="E:\Edge\Seperia\Files\Legacy\Upload\FTP\Other_Advertising_Channel"/>

					<Service  Name="BO rerun - current day" Uses="Rerun" ServiceToRun="Backoffice" TimePeriod="{start: {time:'00:00:00'}, end: {time:'23:59:59'}}">
						<Mappings Path ="Mappings\1006\Backoffice.xml"/>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="11:10" CalendarUnit="Day" MaxDeviation="00:50" />
						</SchedulingRules>
					</Service>
				</Services>
			</Account>


		
			
		


			<!-- ======== Mojob ======== -->
			<Account ID="1011" Name="Mojob">
				<Services>
					<Service Uses="Rerun" />
				
					
				
				</Services>
			</Account>


			<!-- ======== InterTrader ======== -->
			<Account ID="1239" Name="InterTrader ">
				<!--<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bwm=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>-->
				<Services>
					<Service Uses="Rerun" />
				
					<!--<Service Uses="SeperiaFtpRetriever" Name="FtpBoRetriever"
						   FtpServer="ftp://46.137.73.53/InterTrader_ftp/Backoffice/"
						   DirectoryWatcherLocation="E:\Edge\Seperia\Files\Legacy\Upload\FTP\BackOffice\Direct"/>
					<Service Uses="FtpAdvertisingChannelRetriever" Name="FtpAdvertisingChannelRetriever"
							 FtpServer="ftp://46.137.73.53/InterTrader_ftp/Other_Advertising_Channel/"
							 DirectoryWatcherLocation="E:\Edge\Seperia\Files\Legacy\Upload\FTP\Other_Advertising_Channel"/>
					<Service Uses="Microsoft.AdCenter" AdCenter.CustomerID="350896"  AdCenter.CustomerAccountID="1567149">
						<Mappings Path ="Mappings\1239\Bing.xml"/>
					</Service>-->
					<!--===FTP File Import===-->
					
					
				</Services>
			</Account>


			<!-- ======== Stock Pair ======== -->
			<Account ID="1249" Name="Stock Pair">
				<!--<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bp=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>-->
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Backoffice"
							 Bo.ServiceAdress="https://www.stockpair.com/trackingStatistics/byAffiliate?from={0:yyyy-MM-ddTHH:mmZ}&#38;to={1:yyyy-MM-ddTHH:mmZ}&#38;name=seperia&#38;secret=4829672567&#38;geokey=12345"
							 Bo.UTCOffest="0"
							 Bo.Xpath="edgebi.metrics/tracker"
							 Bo.IsAttribute ="true"
							 Bo.TrackerIDField="id">
						<Mappings Path ="Mappings\1249\Backoffice.xml"/>
					</Service>
					
					<Service Uses="Microsoft.AdCenter" AdCenter.CustomerID="350896"  AdCenter.CustomerAccountID="1578639">
						<Mappings Path ="Mappings\1249\Bing.xml"/>
					</Service>
				
					<!--<Service Uses="Facebook.GraphApi"
							Facebook.Account.Name="Stock Pair"
							Facebook.Account.ID="106380492783821"
							Facebook.Auth.SessionSecret="AQAPH8AOohLWP8ynvLVUF1hAdvp5DeLXi7YfhruUTVWtPXo_huT00-xdVXV5Wxe0evvweIofwFaFC9xRxfsQOLlY2wHDhfpK4q7sN-4k0bkD9exG7lz1P64vP14cl3YV7-hJpKHFOyjov09vAgObrwtrkKTIBWYmLjABFDO7AJrZK7qJt41OQOagHHaGLukXLck#_=_"
							TimeZone="2"
							Offset="0">
							<Mappings Path ="Mappings\1249\Facebook.xml"/> 
						</Service>-->
				</Services>
			</Account>



			<!-- ======== harmon.ie ======== -->
			<Account ID="1240" Name="harmon.ie">
				<!--<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bad_id=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>-->
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Backoffice"
							 Bo.ServiceAdress="http://harmon.ie/ppc/seperia?from={0:yyyy-MM-ddTHH:mmZ}&#38;to={1:yyyy-MM-ddTHH:mmZ}&#38;"
							 Bo.UTCOffest="0"
							 Bo.Xpath="harmon.ie.metrics/tracker"
							 Bo.IsAttribute ="true"
							 Bo.TrackerIDField="id">
						<Mappings Path ="Mappings\1240\Backoffice.xml"/>
					</Service>
					<Service  Name="BO rerun - 2 days back" Uses="Rerun" ServiceToRun="Backoffice" TimePeriod="{start: {d:-2}, end: {d:-1}}">
						<Mappings Path ="Mappings\1240\Google.xml"/>
						<SchedulingRules Overrides="true" >
							<Rule ExactTimes="11:40" CalendarUnit="Day" MaxDeviation="00:45" />
						</SchedulingRules>
					</Service>
					<Service  Name="BO rerun - 1 week back" Uses="Rerun" ServiceToRun="Backoffice" TimePeriod="{start: {d:-7}, end: {d:-1}}">
						<Mappings Path ="Mappings\1240\Google.xml"/>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="07:30" CalendarUnit="Week" SubUnits="1" MaxDeviation="00:45" />
						</SchedulingRules>
					</Service>

					


					
					<Service Uses="Facebook.GraphApi"
							Facebook.Account.Name="harmon.ie"
							Facebook.Account.ID="100912583340137"
							Facebook.Auth.SessionSecret="AQDc_FMq73twCvAltDwPh3jRO7t7SGUsqcgksKTepncSKqom2X4zV_k7fZxwqmiK-z3fz3oWSMmwwLohThQUOoQ6Bc7PGaEGpSYXoGLm_0-YuNBRm7qUejL9jCRrLYkEI5ZHpkoweU1WYWuYsb2dnUtoLNxMu6CWFnuKzGfl2aV3gkLVsNki7WXv3EVrw4rHUCg#_=_"
							TimeZone="2"
							Offset="-1">
						<Mappings Path ="Mappings\1240\Facebook.xml"/>
					</Service>
					<Service Uses="Microsoft.AdCenter" AdCenter.CustomerID="350896"  AdCenter.CustomerAccountID="1572772">
						<Mappings Path ="Mappings\1240\Bing.xml"/>
					</Service>


					
					<Service Uses="SeperiaFtpRetriever" Name="FtpBoRetriever"
					   FtpServer="ftp://46.137.73.53/Harmonie_ftp/Backoffice/"
					   DirectoryWatcherLocation="E:\Edge\Seperia\Files\Legacy\Upload\FTP\BackOffice\Direct"/>
					<Service Uses="FtpAdvertisingChannelRetriever" Name="FtpAdvertisingChannelRetriever"
							 FtpServer="ftp://46.137.73.53/Harmonie_ftp/Other_Advertising_Channel/"
							 DirectoryWatcherLocation="E:\Edge\Seperia\Files\Legacy\Upload\FTP\Other_Advertising_Channel"/>
				</Services>
			</Account>



			
			<!-- ======== Opteck ======== -->
			<Account ID="1240235" Name="Opteck" >
				<!--<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bolgs_tr=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>-->
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Backoffice" ConflictBehavior ="Ignore"
							 Bo.ServiceAdress="http://api.binopt.net/seperia/cnt_leads_date/?check=asdfjaSFqjoi1u2uih89n1&amp;from={0:yyyy-MM-ddTHH:mm}&#38;to={1:yyyy-MM-ddTHH:mm}&#38;"
							 Bo.UTCOffest="0"
							 Bo.Xpath="EdgeBI.Metrics/Tracker"
							 Bo.IsAttribute ="true"
							 Bo.TrackerIDField="ID">
						<Mappings Path ="Mappings\1240235\Backoffice.xml"/>
					</Service>
					<Service Uses="Microsoft.AdCenter" AdCenter.CustomerID="350896"  AdCenter.CustomerAccountID="1519883">
						<Mappings Path ="Mappings\1240235\Bing.xml"/>
					</Service>
					
					<Service Uses="Facebook.GraphApi"
							Facebook.Account.Name="Opteck"
							Facebook.Account.ID="110429239078132"
							Facebook.Auth.SessionSecret="AQBa03-eC5w5itn93BzGe8zJrcMEDrHaT4o5FBKljN8DZaZkI92PQKOlmmG-1D9nNLkElxUBPz2kCwNkfBZojzo6GPgQQqxw2_NrqY_CmS0pOBkp_kxpY-Bb21-i_EXSuTkTQ1RQ0K9mwbfVYrDb9s4C9r34bt8G1vzyznuInVutTb5iuUIi1Y9elyU7jjMW-Es#_=_"
							TimeZone="-8"
							Offset="-1">
						<Mappings Path ="Mappings\1240235\Facebook.xml"/>
					</Service>
					<Service  Name="BO rerun - current day" Uses="Rerun" ServiceToRun="Backoffice" TimePeriod="{start: {time:'00:00:00'}, end: {time:'23:59:59'}}">
						<Mappings Path ="Mappings\1240235\Backoffice.xml"/>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="11:20" CalendarUnit="Day" MaxDeviation="00:50" />
						</SchedulingRules>
					</Service>
				</Services>
			</Account>

			<!-- ======== TraderWorld ======== -->
			<Account ID="1240239" Name="TraderWorld" >
				<!--<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						-->
				<!--<Pattern Regex="\bp=edgetrackerid_(?{tracker}\w+)\b" Value="{tracker}"/>-->
				<!--
						<Pattern Regex="\bedgetrackerid_(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>-->
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Backoffice"
							 Bo.ServiceAdress="http://www.traderworld.com/Easynet?from={0:yyyy-MM-ddTHH:mmZ}&#38;to={1:yyyy-MM-ddTHH:mmZ}&#38;"
							 Bo.UTCOffest="0"
							 Bo.Xpath="EdgeBO/Tracker"
							 Bo.IsAttribute ="true"
							 Bo.TrackerIDField="ID"
							 user="seperia"
							 pass="5F5C7D60310A22172506ED74473C978A">
						<Mappings Path ="Mappings\1240239\Backoffice.xml"/>
					</Service>
					
				</Services>
			</Account>

			<!--======== Payoneer ========-->
			<Account ID="1240244" Name="payoneer" >
				<!--<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bsem=(?{edgetrackerid}\w+)\b" Name="tracker1" Value="{edgetrackerid}"/>
						<Pattern Regex="\bSEM=(?{edgetrackerid}\w+)\b" Name="tracker2" Value="{edgetrackerid}"/>
					</Segment>
				</AutoSegments>-->
				<Services>
					<Service Uses="Rerun" />
				
				</Services>
			</Account>	

			<!--======== Mansion ========-->
			<Account ID="1240248" Name="Mansion" >
				<!--<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bSID=(?{edgetrackerid}\w+)\b)" Value="{edgetrackerid}"/>
					</Segment>
				</AutoSegments>-->

				<Services>
					<Service Uses="Rerun" />
				</Services>
			</Account>

			<!--======== OptionsClick ========-->
			<Account ID="1240249" Name="OptionsClick" >
				<Services>
					<Service Uses="Rerun" />

					

				
					
				</Services>
			</Account>

			<!--======== GreenSQL ========-->
			<Account ID="1240250" Name="GreenSQL" >
				<Services>
					<Service Uses="Rerun" />					
				</Services>
			</Account>

			<!--======== Conduit-Mobile ========-->
			<Account ID="1240251" Name="Conduit-Mobile" >
				<Services>
					<Service Uses="Rerun" />					
				</Services>
			</Account>


		</Accounts>
	</edge.services>
	<system.web>
		<webServices>
			<soapExtensionTypes>
				<add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, AdWords" priority="1" group="0"/>
			</soapExtensionTypes>
		</webServices>
	</system.web>
	
	<system.serviceModel>
		<!--<services>
			<service
		</services>-->
		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.9/seperia/deploy"/>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
			</wsHttpBinding>
			<netTcpBinding>
				<binding name="Edge.Core.Services.Service.InstanceToEngineBinding" portSharingEnabled="true" receiveTimeout="3:0:0" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" />
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
                    switchValue="All"
                    propagateActivity="true">
				<listeners>
					<add name="traceListener"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "d:\log\Traces.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>

